<?xml version="1.0"?>
<launch>
  <node name="recharge_behaviour" pkg="recharge_behaviour" type="recharge_behaviour" output="screen">
    <!--<remap from="goal_pose" to="/ardrone_control/goal" />
    <remap from="target_pose" to="/vicon/helmet/helmet" /> I'm leaving these in in case I need to change how I remap stuff for the battery and vicon subscribers -->

	<param name="loop_hz" value="60"/>
	<param name="yaw" value="0.0" /> 

	<param name="high_threshold" value="0.70" /> 
	<param name="mid_threshold" value="0.60" />
	<param name="low_threshold" value="0.50" />

	<param name="high_charge_time" value="30.0" /> 
	<param name="mid_charge_time" value="20.0" />
	<param name="low_charge_time" value="10.0" />

	<param name="high_time" value="30.0" /> 
	<param name="mid_time" value="20.0" />
	<param name="low_time" value="10.0" />
    
	<param name="charge_time" value="true"/>
	<param name="charger_x" value="-1.3000" />
	<param name="charger_y" value="0.6000" />

<param name ="name" value="cb14" />


  </node>
</launch>
